<%- include('./partials/head.ejs') %>

<ul id="messages"></ul>
	<form action="">
		<input type="type" name="field-message" id="field-message" autocomplete="off">
		<button type="submit">Send</button>
	</form>

<%- include('./partials/foot.ejs') %>
